.calculator-background {
    -fx-background-image: url('https://downloader.disk.yandex.ru/preview/bd4bc8a91421fd7bdbb402d7198416fe8d7f5d35657d4c3e1765ea60f7cd3959/6747abaa/XA_ycIIk7sM_v2Gidx33DdHoJds2qBravClJjQa0x72HTts2mmisQz_bcButEk0GzHStDdcgk3IlemVOq4VuIA%3D%3D?uid=0&filename=куникида%20плачет.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1860x935');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}